/*
em: tamano fuente del contexto, variable
rem: tamano fuente del root,la raiz siempre es la misma (:root)
*/
h1 {
    font-size: 4rem;
}
span {
    font-size: 4em;
    color: teal;
}
/*Cambiar direccion de escritura*/
.directions {
    margin: 2em;
  /*  direction: rtl;*/
  /*  text-indent: 4em;*/

    text-align: justify;/*justificar texto en web es muy mala practica*/
    text-align-last:left;
    line-height: 1.5;/*sin em es una buena practica*/
    letter-spacing: 0.02em;
}
.line-height-center{
    width: 400px;
    height: 400px;
    background: teal;
    text-align: center;
   /* line-height: 400px;*/

}
.Vertical-Align {
    color: thistle;
    font-size: .5em;
    vertical-align: bottom;

}
.Welcome{ 
    text-align: center;
    font-family: Impact;
    letter-spacing: 0.31em;
  /*  text-decoration-line: line-through;*//*underline overline line-through*/
  /*  text-decoration-color: rgba(130, 111, 12, 0.5);
    text-decoration-style: double;*/
    text-decoration: underline line-through overline;
}

.textshadow{
    text-align: center;
   /* text-shadow: 2em 2em 0 red,/*textshadow es una copia*/
   /*              1em 1em 0 green;
    */

    text-shadow: 1px 1px 1px black;
}
.lorem2{


    white-space: pre; /*
    nowrap: no salta de linea
    pre: tal cual como es el codigo
    
    pre-wrap: salta de linea y conserva espacios
    pre-line: salta de linea y no conserva espacios
    */
    
    
}
.desbord {
    width: 30px;
    margin: 2em auto;
    border: 2px solid black;
    /*word-break: break-all;*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*
    word-breack: parte palabras
    word-wrap: parte palabras
    text-overflow: junto con overflow:hidden ayuda a agregar un estilo de representativo de que la linea es mas larga pero no la salta
    ;
    */
}
/*texto color borde svg*/