/*width ancho
height alto*/
/*podemos cambiar la presentacion de un elemento css
inline: elementos que no crean nuevas lineas
        no tiene ancho ni alto, yo no puedo definirlo
bloque, ocupan todo el ancho del contenedor
*/
/*todos los elementos de html son rectangulos*/
h1{
    background: yellowgreen;
    display: inline;
}
span {
    background: blue;
    display: inline-block;
    /*por ser de bloque ya tiene alto y ancho*/
    height: 200px;
}
p{
    display: inline;
}
.box{
    background: purple;
    background-clip: content-box;
    /*box model*/
    width: 500px;
    height: 300px;
    padding: 50px;
    border: 10px solid black;
    margin: 10px;

/*todos los box se suman
ej ancho: 560*/

/*box sizing */
box-sizing: border-box;
}
/*inlin-block
se acomoda en lineas con ancho y alto
*/

/*box model
content box: contenido
padding box
border box
margin: separacion de la caja con las cajas adyacentes*/