/*width ancho
height alto*/
/*podemos cambiar la presentacion de un elemento css
inline: elementos que no crean nuevas lineas
        no tiene ancho ni alto, yo no puedo definirlo
bloque, ocupan todo el ancho del contenedor
*/
/*todos los elementos de html son rectangulos*/
h1{
    background: yellowgreen;
    display: inline;
}
span {
    background: blue;
    display: inline-block;
    /*por ser de bloque ya tiene alto y ancho*/
    height: 200px;
}
.p{
    display: inline;
}
.box{
    background: purple;
    background-clip: content-box;
    /*box model*/
    width: 500px;
    height: 300px;
    padding: 50px;
    border: 10px solid black;
    margin: 10px;

/*todos los box se suman
ej ancho: 560*/

/*box sizing */
box-sizing: border-box;
}
/*inlin-block
se acomoda en lineas con ancho y alto
*/

/*box model
content box: contenido
padding box
border box
margin: separacion de la caja con las cajas adyacentes*/

/*--------------------------------------------Margin*/

/* para normar
*/
*{
    box-sizing: border-box;
}



[class^="box-"]{
    background: yellowgreen;
    padding: 50px;
    width: 300px;
    float: left;
    margin-right: 10%;
    
    /*^ inicia
    $termina
    * contiene*/
}

.box-1{
    /*
    margin-top: 50px;
    margin-right: 100px;*/
   /* margin: 50px 100px 200px 30px/*desde arriba en sentido de las manillas de reloj*/
   /* margin: 120px/*par reparte, lo completa con su opuesto
    con un solo valor aplicas a los 4 lados*/
    margin-right: -100px;
}
.box-2{
    margin-top:50px;
}
.p2{
    clear: both;
    width: 600px;
    background: pink;
    /*manera correcta de centrar un objeto*/
    margin-left: auto;
    margin-right: auto;
}
/*usando margenes negativos puedes hacer que un elemento sea mas grande que su contenedor*/