:root{
    --color-title:red;
    --color-subtitle: cadetblue;
}

.red{
    color: red;
}
.title,
.paragraph {
    color:blue;
}
/**Descendant Selectors*/
/* casi nunca uses por buena practica descendientes por esfecificidad*/
.dropdown{
    width: 100%;
    background: cadetblue;
}
.menu-item .tag{
    background-color: brown;
}

/*Selector hijo directo*/

li > ul {
    display: none;
}

li:hover ul {
    display: block;
}
/*Selector hermano siguiente*/
.title1 {
    color: var(--color-title);
}
.titleh2{
    color: var(--color-subtitle);
}
.subtitle{
    font-size: .5em;
    margin-top: -2em;
}
/*hermano siguiente*/
.title1 + .subtitle {
    color: var(--color-title);

}
.titleh2 + .subtitle {
    color: var(--color-subtitle);
}

/*hermanos siguientes*/
/* debes estar al mismo nivel*/
.hermano-mayor ~ .hermano {
    color: yellowgreen
}
.enabled {
    display: none;
}

.check:checked + .enabled{
    display: block;
}

.check:checked ~ .disabled{
    display: none;
}
/*--------------------Selectores de atributo*/
/*[attr=value]*/
[type="email"]{
    border: 1px rebeccapurple solid;
}

[type="submit"]{
    border-radius: 50%;
    background: rosybrown;
    border: none;
    height: 50px;
    width: 50px;
    border: none;
}
[type="submit"]:hover {
    background: black;
    color: white;
}
[required]{
    border: 2px solid red;
    margin: .5em;
}
/*Selector de atributo comienza con*/
a {
    color: blue;
    background: url(./../../img/external-link.png) no-repeat center right / 
    1rem;
    padding-right: 2.2rem;
}
[href^="./"]{
    color: magenta;
    background: none;
}
