.red{
    color: red;
}
.title,
.paragraph {
    color:blue;
}
/**Descendant Selectors*/
/* casi nunca uses por buena practica descendientes por esfecificidad*/
.dropdown{
    width: 100%;
    background: cadetblue;
}
.menu-item .tag{
    background-color: brown;
}

/*Selector hijo directo*/

li > ul {
    display: none;
}

li:hover ul {
    display: block;
}