:root{
    --color-title:red;
    --color-subtitle: cadetblue;
}

.red{
    color: red;
}
.title,
.paragraph {
    color:blue;
}
/**Descendant Selectors*/
/* casi nunca uses por buena practica descendientes por esfecificidad*/
.dropdown{
    width: 100%;
    background: cadetblue;
}
.menu-item .tag{
    background-color: brown;
}

/*Selector hijo directo*/

li > ul {
    display: none;
}

li:hover ul {
    display: block;
}
/*Selector hermano siguiente*/
.title1 {
    color: var(--color-title);
}
.titleh2{
    color: var(--color-subtitle);
}
.subtitle{
    font-size: .5em;
    margin-top: -2em;
}

.title1 + .subtitle {
    color: var(--color-title);

}
.titleh2 + .subtitle {
    color: var(--color-subtitle);
}