/*Selectores de Tipo CSS*/
.title{/*Selectores de etiqueta solo para normalizarW*/
    background: yellow;
    color: black;
}
.description {
    background: lime;
    color: black;
}

.bold {
    font-weight: bold; /*Negritas*/
}
/*las clases no pueden empezar por numeros*/
/*puedes usar emojis como clases*/
.center { /*Centrar*/
    text-align: center;

}
.😂{
    background: red;
    color: white;
}

/*# selector de id */
#idselectors {
    margin: 2%;
    background: black;
    color: white;
}

/*LOs navegadores ya traen estilos predefinidos
user agent: navegador
stylesheet: hoja de estilos

*/