/*Selectores de Tipo CSS*/
h1{
    background: yellow;
    color: black;
}
p {
    background: lime;
    color: black;
}
/*LOs navegadores ya traen estilos predefinidos
user agent: navegador
stylesheet: hoja de estilos

*/