
*, *::before, *::after {
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 300px;
    background: transparent;
    margin: 100px auto;
    color: royalblue;
    /*border: 10px dotted black;/*ancho estilo color*/
    /*
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    
  
    */
    border-style: solid dashed;
   /**
    border-color: transparent transparent tomato transparent;
   
    border-width: 200px 200px 200px 200px;
    */
    /*los bordes se unen*/
    /*border-color: rgb(111, 0, 33)*/
    /*
    por defecto con border-style
      border-color: igual a la propiedad color:
      border-width: 
    */
    /*
    shorthands
        border-width: 100px;
        border-style: solid;
        border-color: black;

    */

    /*background-clip: padding-box;*/
    /*
        los bordes no son una propiedad externa
        todos excepto el margin son externos
    */

    /*shorthands*/
/*
    border-top: 200px solid transparent;
    border-right: 200px solid teal;
    border-bottom: 200px solid transparent;
    border-left: 200px solid transparent;
    */

    border: 200px solid ;
    border-color:blue transparent transparent;
}
.box-2 {
    --border-radius-x: 500px;
    --border-radius-y: 125px;
    width: 500px;
    background: rgb(248, 61, 24);
    margin: 100px auto;
    /*border-radius: 200px; /*shrothand*/
    /*
     border-top-right-radius: 200px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 314px;
    */
    /*comienza por arriba a la izquierda*/
    /*border-radius: 5px 400px 12px ;*/
    /*
    border-top-right-radius: 200px 300px;
    */
    /*
    jamaz hagas border-top-right-radius: 0px, 0 es cero no tiene unidad
    */
  /*  border-top-left-radius: 500px 124px;
    border-top-right-radius: 500px 124px;
    border-bottom-right-radius: 500px 124px;
    border-bottom-left-radius: 500px 124px;
    padding: 75px 80px 75px 220px;*/
    /*border-radius: x x x x / y y y y para radius*/
    /*
    border-radius: var(--border-radius-x) / var(--border-radius-y);*/
    border-radius: 100%;/*se calcula con respecto a la figura*/
    height: 350px;

}

.triangle{
   
    width: 200px;
    border: 100px solid;
    border-color: transparent transparent transparent white;
    margin-left: 150px;
    margin-top: 125px;
    height: 200px;

}
